.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .scoreboard {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .scoreboard p {
    font-size: 24px;
    margin-right: 50px;
  }
  
  .scoreboard span {
    font-weight: bold;
  }
  
  .auswahl {
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .btn:hover {
    background-color: #3e8e41;
  }
  
  .runden {
    margin-bottom: 20px;
  }
  
  #round-ergeniss{
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  #game-ergeniss {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .reset {
    background-color: #f44336;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .reset:hover {
    background-color: #d32f2f;
  }